body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ddd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="text"] {
  border-radius: 3px;
  border: solid #607d8b;
  padding: 5px 15px;
  margin-top: 10px;
  width: 250px;
}

.news_list {
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  max-width: 250px;
}

.news_list:hover {
  color: #607d8b;
}

.newsList,
.news {
  border: 2px solid #607d8b;
  background: white;
  padding: 0px 15px;
  margin-top: 10px;
  width: 250px;
}

.news {
  width: 95%;
  margin-left: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.App {
  margin: 10px;
  padding: 50px;
}

.sidebar {
  border: 2px solid #607d8b;
  margin: 2px;
  padding: 10px;
}
